<form accept-charset="UTF-8" action="/searches" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="q">Search for:</label>
  <input id="q" name="q" type="text" />
  <input type="submit" value="Search">
</form>
